$mainColor:#FBFBFB;
$secondColor:#000000;
$thirdColor:#31A3DD;

#main{
	background-color:#fbfbfb;
	
}

.contacts span{
	font-size:0.8em;
}


.list-unstyled{
	list-style:none;
}

.fa {
color:darkgray;
display: inline-block;
}
.social li{
	float:left;
} 
.rightHand  {
	display: inline-block;
	ul {
	li{
	margin-right:30px;
	border-left:1px solid $thirdColor;
	}
  }
}

.rightHand ul li:hover{
background-color:lightblue;

}

#cover {
	height:490px;
	background-image: url(../img/banner.png);
	background-size: cover;
	
		.row{
		padding-bottom:300px;
		}
}
.servicebox{
	border-radius:2px;
	border:3px solid #f1f1f1;
	padding: 0 20px 20px;
	margin: 30px 0 0;
}
.servicebox servicebox-icon{
	
font-size:38px;
width:60px;
height:60px;
color:#f1f1f1;
padding-top:10px;
border-radius:50%;
box-sizing:border-box;

}