$mainColor:#FBFBFB;
$secondColor:#000000;
$thirdColor:#31A3DD;

#main{
	background-color:#fbfbfb;
	
}

.contacts span{
	font-size:0.8em;
}


.list-unstyled{
	list-style:none;
}
.fa {
display: inline-block;
}

.social li{
	float:left;
} 
.rightHand {
	float:right;
	padding:0;
	margin:0;
	display: inline-block;
}